body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.logg {
    text-align: center; /* Center the content horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
}

.logg a {
    color: #ff0000; /* Red color for the link */
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ff0000; /* Red border */
    border-radius: 5px; /* Rounded corners */
    background-color: #fff; /* White background */
}

.logg a:hover {
    background-color: #ff0000; /* Red background on hover */
    color: #fff; /* White text on hover */
}


h3 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    table {
        font-size: 14px;
    }
}
